*{
 margin: 0; 
}

.aux{
    display: none;
}

.navbar{
    background-color: rgb(43, 43, 43);

}

.main-container{
    background-color: #1D1D1D;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .row1-1{
        height: 4vh;
        display: flex;
        width: 100%;
        color: antiquewhite;
        justify-content: space-between;
        align-content: center;
        
        .login-area{
            margin-left: 1vw;
            display: flex;
            width: 15vw;
            justify-content: start;

            .user{
                width: 10vw;
            }
            .login{
                width: 3vw;
        }
        }
        .day{
            display: flex;
            width: 10vw;
            margin-right: 1vw;
            align-content: center;
        }
    }
    .row1-2{
        display: flex;
        background-color: #D9D9D9;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 3vh;
        border-radius: 15px;
    }
}